@use 'src/styles/var';

.cell {
  border: 2px solid #eee;
  border-radius: 4px;
  background-color: #fff;
  color: #999;
  font-weight: bold;
  position: relative;

  &[data-clickable="true"] {
    cursor: pointer;
  }

  &[data-status="UNUSED"] {
    color: #fff;
    background-color: var.$color-bg-status-unused;
    border: 0px;
  }
  &[data-status="HIT"] {
    color: #fff;
    background-color: var.$color-bg-status-hit;
    border: 0px;
  }
  &[data-status="BLOW"] {
    color: #fff;
    background-color: var.$color-bg-status-blow;
    border: 0px;
  }
}

.character {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
