$pc-font-size: 10px;
$mobile-font-size: 8px;
$max-width: 500px;

$color-gray: #eee;
$color-bg-header: $color-gray;

$color-bg-status-unused: #757575;
$color-bg-status-hit: #4caf50;
$color-bg-status-blow: #c9b458ff;
