.box {
  margin-top: 16px;

  .buttons {
    margin-top: 32px;
    display: grid;
    gap: 16px;
    justify-content: center;
    grid-auto-flow: column;
  }
}

.recommend {
  height: 400px;
  border-radius: 6px;
  border: 1px solid #999;
  margin: 2rem auto 0;
  padding: 8px;
  overflow-y: auto;

  .grid {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(105px, 1fr));
    margin-top: 8px;
  }
}

.usedNamesContainer {
  margin-top: 1.0em;
}