@use 'src/styles/var';

.header {
  background: var.$color-bg-header;
  text-align: center;
}

.titleContainer {
  padding: 0.25rem;

  .mainTitleContainer {
    position: relative;

    .mainTitle {
      font-size: 1.8rem;
    }

    .homeIcon {
      position: absolute;
      font-size: 1.8rem;
      top: 53%;
      transform: translateY(-50%);
      right: 0;

      &:hover {
        cursor: pointer;
      }
    }
  }


  .subTitle {
    font-size: 1.4rem;
  }
}
